/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*  * {
    box-sizing: border-box;
    border: 1px solid red; 
}*/

body {
    padding: 16px;
    padding: 1rem;
}


.main-nav{
    float: right;
    width: 50%;
}
.main-nav ul{
    list-style: none;
    width: 100%;
}
.main-nav ul li{
    float: left;
    display: inline;
    width: 25%;
    padding: 0 5px;
}

.main-nav ul li a{
    display: block;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #383B3C;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 16px 0;
} 
.main-nav ul li a:hover{
    background: #383B3C;
    color: white;
    font-weight:normal;
}



/*index.html styles */

.mobile-nav {
  top: 30px;
  width: 200px;
  z-index: 9999;
  right: -200px;
  display: none;
  position: absolute;
  border-radius: 10px;
  background: rgb(0,0,0);
  font-family:'Lato',sans-serif;
}

.blurb {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-align: center;
}

.carousel {
    max-width: 100%;
    margin: 50px auto;
}


.item img {
    width: 100%;
    max-height: 400px;
}

#main {
    font-size: 4vw;
    padding: 0px 10vw 0px 10vw;
    color: #383B3C;
    font-weight: bold;

}

#main2 {
    font-size: 150%;

}

.wrapper {
  width: 100%;
  height: auto;
  float: left;
  background: #000;
  position: relative;
}
.text{
    position: absolute;
    top: 0;
    color:#383B3C;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    background-color:rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.caption{
    position: relative;
    top: 40%;
    opacity: inherit;
    filter: alpha(opacity=NaN);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.text:hover,
.caption:hover {
    opacity:1;
    filter: alpha(opacity=100);
}

.wrapper img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

img {
    z-index:1;
}

.nextimage {
    display: none;
}

/*wintheweeked.html styles*/
#weekend {
    font-family: "Fjalla One",sans-serif;
    text-align: center;
    font-size: 60px;
}

.weekend-blurb {
    font-family: "Fjalla One",sans-serif;
    text-align: center;
    font-size: 170%;
    padding: 5% 30% 5% 30%;
}

.form-applicant {
     max-width: 500px;
     margin: 0 auto;
}

.form-wrapper {
    padding: 5% 30% 5% 30%;
    font-family: 'Lato', sans-serif;
    text-align: center;

}

.submit-button {
    width: 75%;
    height: 38px;
    border: none;
    line-height: 100%;
    background-color: #4b5362;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    font-family: "Fjalla One",sans-serif;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.input {
    text-align: center;
    /*max-width: 455px;*/
    height: 38px;
    width: 75%;
    font-size: 14px;
    border: 2px solid #4b5362;
    margin: 0 auto 30px;
    padding: 4px 15px;
}

.bus{
    height: 60vh;
    background-image: url("../img/banner22.png");
    background-size: cover;
    background-position: bottom;
}

/*nextstop.html styles*/

#animate {
    position: relative;
}

#animate-img {
    width: 20%;
}


.picture1 {
    background-image: url("../img/hawaii_1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture2 {
    background-image: url("../img/palm_springs_1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture3 {
    background-image: url("../img/san_juan_islands_one.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.image-container{
    height: 300px;
    widows: auto;
}

/*hawaii.html styles*/
.full {
    width: 4%;
}

h1 {
    text-align: center;
    font-family: "Fjalla One",sans-serif;
    text-transform: uppercase;

}

.row {
    margin-bottom: 10vh;
}
.picture4 {
    background-image: url("../img/hi1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.picture5 {
    background-image: url("../img/hi2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture6 {
background-image: url("../img/hi3.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}

.picture7 {
    background-image: url("../img/hi4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture8 {
    background-image: url("../img/hi5.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture9 {
background-image: url("../img/hi6.png");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

.picture10 {
    background-image: url("../img/hi7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.picture11 {
    background-image: url("../img/hi8.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture12 {
    background-image: url("../img/hi9.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture13 {
    background-image: url("../img/hi10.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture14 {
    background-image: url("../img/hi11.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture15 {
    background-image: url("../img/hi13.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/*palmsprings.html styles*/
.picture16 {
    background-image: url("../img/ps1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture17 {
    background-image: url("../img/ps2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture18 {
    background-image: url("../img/ps3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture19 {
    background-image: url("../img/ps4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture20 {
    background-image: url("../img/ps6.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture21 {
    background-image: url("../img/ps8.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture22 {
    background-image: url("../img/ps7.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture23 {
    background-image: url("../img/ps12.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture24 {
    background-image: url("../img/ps9.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture25 {
    background-image: url("../img/ps10.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}

.picture26 {
    background-image: url("../img/ps11.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture27 {
    background-image: url("../img/ps5.png");
background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}



/*sanjuanislands.html styles*/
.picture28 {
    background-image: url("../img/sji1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture29 {
    background-image: url("../img/sji2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture30 {
    background-image: url("../img/sji3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.picture31 {
    background-image: url("../img/sji4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture32 {
    background-image: url("../img/sji5.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture33 {
    background-image: url("../img/sji6.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture34 {
    background-image: url("../img/sji7.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture35 {
    background-image: url("../img/sji8.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture36 {
    background-image: url("../img/sji9.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture37 {
    background-image: url("../img/sji10.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture38 {
    background-image: url("../img/sji11.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.picture39 {
    background-image: url("../img/sji12.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Footer styles */
footer {
    clear:both;
    width: 100%;
    height: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/footerimage.jpg');
}

.footer-links {
  padding: 0 0 2% 0;
  margin: 40px 0 0 0;
}

.footer-links li {
  margin: 0 20px;
  list-style: none;
  display: inline-block;
}

.footer-links img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}
/*Media queries*/

@media only screen and (max-width: 480px) {
    .main-nav {
        display: none;
    }

    .logo img{
        margin-left: 50%;
        -webkit-transform:translate(-107px);
            -ms-transform:translate(-107px);
                transform:translate(-107px);
    }

    .logo-menu { 
        display: none;
     }

     .mobile-nav {
        font-family: 'Lato', sans-serif;
        background-color: white;
        padding: 15px 0px 0px 5px;
        margin: 2% 0 0px 20%;

     }

     .mobile-nav ul li a {
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #383B3C;
        padding: 2px;


     }

     .mobile-nav ul{
        list-style-type: none;
        padding: 0;
        margin-left: 0;
        text-align: center;
    }

}
  @media only screen and (max-width: 1200px) {
    .displayed {
        display: inline-block;
        position: absolute;
        left: 10%;
    }

    .main-nav {
        display: none;
    }
   
    .logo img{
        margin-left: 50%;
        -webkit-transform:translate(-107px);
            -ms-transform:translate(-107px);
                transform:translate(-107px);
    }
         .mobile-nav {
        font-family: 'Lato', sans-serif;
        background-color: white;
        padding: 15px 0px 0px 5px;
        margin: 2% 0 0px 13%;

     }

     .mobile-nav ul li a {
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #383B3C;
        padding: 2px;


     }

     .mobile-nav ul{
        list-style-type: none;
        padding: 0;
        margin-left: 0;
        text-align: center;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
